<h1>Available Clients:</h1>
#if($clients.size() > 0)
 <ul>
   #foreach ($client in $clients)
   <h3><li>$client.getName() &nbsp    <a href="/clients/$client.getId()/edit">Edit</a>

   &nbsp <a href="/clients/$client.getId()/delete">Delete</a></li></h3>
#end
 </ul>
 #else
   <h4>You have'nt entered any clients, Please enter client Name:</h4>
  #end
