<h1>Welcome To Hair Salon</h1>
<h2>Available Stylists:</h2>
#if($stylists.size() > 0)
 <ul>
   #foreach ($stylist in $stylists)
   <li><a href="/stylists/$stylist.getId()/clients">$stylist.getName()</a></li>
#end
 </ul>
 #else
   <h3>You have'nt entered any stylists, Please enter Stylist Name:</h3>
  #end

  <h4><a href="/stylists">Add A Stylist</a></h4>
  <h4><a href="/clientslist">View All Clients</a></h4>
